TIMEZONE=Europe/Istanbul
STORAGE_DATA_DIR=storage/data

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

NEWS_SOURCES=https://www.getmidas.com/|https://www.getmidas.com/borsa-haberleri/|https://www.kap.org.tr/tr/rss|https://www.borsaistanbul.com/tr/rss|https://feeds.finance.yahoo.com/rss/2.0/headline?s=THYAO.IS,SISE.IS,ASELS.IS&region=TR&lang=tr-TR|https://www.bloomberght.com/rss
